canvas{
       position: absolute;
       background-color: white;
       left: 100px;
       border: 28px solid rgb(201, 150, 11);
       margin-top: 80px;}
body{background-color:#ebebeb; cursor:crosshair;}
#buttons {
  position: absolute;
  top: 25px;
  left: 110px;
  color: white;
  z-index: -1;
}
#color {
  position: absolute;
  top: 5px;
  left: 10px;
  color: ivory;
  margin-top: 10px;
  margin-left: 5px;
  float: left;
}
#mycolor{
  position:absolute; 
  cursor: pointer;
  top: 35px; 
  left: 450px;
}
#text{
  position: absolute; 
  cursor: pointer;
  left: 520px; 
  padding-left: 2px;
  top: 35px; 
  width: 50px; 
}
#myselect{
  position: absolute; 
  cursor: pointer;
  left: 695px; 
  height: 25px;
  top: 35px; 
  width: 145px; 
}
.slider {
  position: absolute; 
  cursor: pointer;
  left: 570px; 
  top: 40px; 
  width: 100px;
  height: 10px;
  -webkit-appearance: none;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 15px;
  background: rgb(40, 79, 163);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 15px;
  background: rgb(36, 146, 165);
  cursor: pointer;
}

#inp{
  position: absolute; 
  cursor: pointer;
  margin-left: 10px; 
  top: 35px; 
  width: 80px;
  height: 25px; 
}
#reset {
    margin-top: 10px;
    cursor: pointer;
    margin-left: 5px;
    float: left;
  }
  #download {
    position: absolute;
    cursor: pointer;
    margin-left: 5px;
    top: 35px;
    left:1210px;
    text-decoration: none;
    font-size: 25px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;  }
  #eraser {
    margin-top: 10px;
    cursor: pointer;
    margin-left: 20px;
    float: left;
    margin-right: 30px;
  }
  #hide{
    border:2px blue none;
    background-color: rgb(201, 150, 11,0);
    color: rgba(201, 150, 11,0);;
    position: absolute;
    width: 0px;
    top:390px;
    left: 1406px;
    z-index: -1;
  }
  #pen{
    position: absolute;
    cursor: pointer;
    margin-left: 5px;
    top: 35px;
    left:210px;
    width: 20px;
    font-size: 25px;
  }
  #rect{
    position: absolute;
    cursor: pointer;
    margin-left: 5px;
    top: 35px;
    left:860px;
    width: 20px;
    font-size: 25px;
  }

  #circle{
    position: absolute;
    cursor: pointer;
    margin-left: 5px;
    top: 35px;
    left:920px;
    width: 20px;
    font-size: 25px;
  }

  #tri{
    position: absolute;
    cursor: pointer;
    margin-left: 5px;
    top: 35px;
    left:970px;
    width: 20px;
    font-size: 25px;
  }

  #undo{
    position: absolute;
    cursor: pointer;
    margin-left: 5px;
    top: 35px;
    left:1040px;
    width: 20px;
  }

  #redo{
    position: absolute;
    cursor: pointer;
    margin-left: 5px;
    top: 35px;
    left:1100px;
    width: 20px;
  }

.color {
  background-color: burlywood;
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 12px;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid rgb(201, 150, 11,0);
  text-align: center;
}
#default{
  margin-left: 50px;
}